############################## Testing
flake8==3.7.9
pylint==2.4.4
pytest==5.3.2
pytest-cov==2.8.1
pytest-flake8==1.0.4
pytest-mock==1.13.0
pytest-pylint==0.14.1

############################## Documentation
Sphinx==2.3.0
sphinx-rtd-theme==0.4.3

############################## Packaging
bump2version==0.5.11
setuptools==42.0.2
twine==3.1.1
wheel==0.33.6
